
body{
    background-color: whitesmoke;
}
/* nav bar */
/* to make your navigation bar sticky*/
.navbar{
    /* fixed keyword is fine too */
    position: sticky;
    top: 0;
    z-index: 100;
    /* z-index works pretty much like a layer:
    the higher the z-index value, the greater
    it will allow the navigation tag to stay on top
    of other tags */
 }
 .button.navbar.toggler{
     color: turquoise;
 }
a.navbar-brand{
    color: white;
    font-family: Monospace;
    font-size: 25px;
    margin-left: 100px;
}
.navbar-brand:hover{
    color: white;
}
.navbar-brand span{
    color:#78f040 ;
}

a.nav-link {
    color: white;
    margin: 16px 30px 16px 30px;
}
a.nav-link:hover{
    color:#78f040 ;
}

div.logInSignUp{
    display: inline-block;
    margin:22px 30px 5px 50px;
}
a.logIn,a.signUp{
    color: white;
}
a.logIn:hover,a.signUp:hover{
    color: #78f040;
    text-decoration: none;
}
.vertical-symbol{
    color:#78f040  ;
}
.navbar-toggler-icon{
    color: white;
}
button.navbar-toggler{
    color: white;
}
/*--copy right--*/
.copyright{
    color:white;
    margin: 150px 0px 100px 700px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

/* end nav bar*/

/*start slider*/
.carousel-inner{
    position: relative;
    text-align: center;

}
.wallpaper-text{
    position: absolute;
    bottom: 180px;
    left: 30px; 
    color: white;
    font-family:Monospace ;
    font-size: 40px;

}
/*end slider*/
.rowContact{
    margin-right: 0;
    margin-left: 280px;
}
/*---------------------------start about us section -----------*/
.about{
    background: url(/Images/aboutUs.png) no-repeat;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}
.inner-section{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 100px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
}
.inner-section h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900px;
}
.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
.skills button{
    font-size: 22px;
    text-align: center;
    letter-spacing:2px;
    border: none;
    border-radius: 20px;
    padding: 8px;
    width: 200px;
    background-color:#a1ef7a;
    color: white;
    cursor: pointer;
}
.skills button:hover{
    transition: 1s;
    background-color: #ecf5f5;
    color: #a1ef7a;
}
.about{
    margin-top: 8%;
}
@media screen and (max-width:1200px){
    .inner-section{
        padding: 80px;
    }
}
@media screen and (max-width:1000px){
    .about{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-section{
        width:100%;
    }
}
@media sreen and(max-width:600px){
    .about{
        padding: 0;
    }
    .inner-section{
        padding: 60px;
    }
    .skills button{
        font-size: 19px;
        padding: 5px;
        width: 160px;
    }
}
/*-----------------------------------End about us section---------------*/
/*----------------------------start contact form--------------------------*/
.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #a1ef7a;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #ffce49;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    border: none;
    cursor: pointer;
}
/*----------------------------------End contact Form------------------*/
/*---------------------------end about us section -----------*/

/*--------------------------start services section---------------*/
.container-fluid{
    background-color: white;
    margin-top: 15%;
}
/*--------------------------end services section--------------------*/
/*----------------------------------------start footer---------------------*/
footer{
    margin-top: 10%;
}
/*----------------------------------------End footer---------------------*/
/*-------------------------------------------Login------------------------------------*/
.loginPage ,.signUpPage ,.managerPage , .manageProfile {
    background-color: #a1ef7a;

}

.loginPage .container{
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 400px;
    max-width: 100%;
    margin-top: 120px;
}

.loginPage .header ,.signUpPage .header , .managerPage .header , .manageProfile .header{
	border-bottom: 1px solid #f0f0f0;
	padding: 20px 40px;
}

.loginPage .header h2 ,.signUpPage .header h2  , .managerPage .header h2 , .manageProfile .header h2{
    margin: 0;
    font-weight: bold;
}

.loginPage .form , .signUpPage .form , .managerPage .form , .manageProfile .form {
	padding: 30px 40px;	
}

.loginPage .form-control ,.signUpPage .form-control , .managerPage .form-control,.manageProfile .form-control{
	margin-bottom: 10px;
	padding-bottom: 20px;
    position: relative;
    border: none;
}

.loginPage .form-control label  ,.signUpPage .form-control label , .managerPage .form-control label
,.manageProfile .form-control label{
	display: inline-block;
	margin-bottom: 5px;
}
/*--------------input-------------*/
.loginPage .form-control input ,.signUpPage .form-control input ,.managerPage .form-control input
,.manageProfile .form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}



/* submit button */

.loginPage .form .btn , .signUpPage .form .btn,.managerPage .form .btn ,.manageProfile .form .btn{
	background-color: #a1ef7a;
	border: 2px solid #a1ef7a;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}
.registerLink{
    color:#77ec40;
   
}
.registerLink:hover{
    color: #a1ef7a;;
}
.noAccount{
    margin-top: 10px;
}


/*----------------------------------------------end login--------------------------------*/
/*--------------------------------------Sign up -------------------------------------------*/
.signUpPage .container , .managerPage .container , .manageProfile{
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	width: 600px;
    max-width: 100%;
    margin-top: 120px;
}
input#male{
    margin-left: 10px;
}
input#female{
    margin-left: 50px;
}
input#male,input#female{
    margin-bottom: 30px;
}

/*------------------------------------End sign up---------------------------------------*/
/*------------start services section----------------*/
.card{
    margin-left: 78px;
    display: inline-block;
    width: 25rem;

}
div.services-section{
    background-color: #f6f6f6;
}

/*------------End services section----------------*/
@media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
      
    }
}
/*-------------------Start Manager Page----------------*/
/* staff list table*/  staffList
#staffList {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #staffList td, #staffList th {
    border: 1px solid #ddd;
    padding: 20px;
  }
  
  #staffList tr:nth-child(even){background-color: #f2f2f2;}
  
  #staffList tr:hover {background-color: #ddd;}
  
  #staffList th {
    padding: 20px 30px;
    text-align: left;
    background-color: #a1ef7a;
    color: white;
  }
  .managerPage{
    background-color: #f6f6f6;
}
#staffList{
    margin: 60px 0px 500px 350px;
}


  /*-------------------End Manager Page----------------*/
  /*------------------------start staff page------------*/
  #ui{
      background-color: #343a40;
      padding: 50px;
      margin-top: 50px;
      opacity: 0.9;
  }

  #ui label{
      color: #fff;
      margin-top:30px;
  }
  #country{
      margin-bottom: 30px;
      bottom:100%; 
  }
 /*
* Name: Manal Magdy
* ID: B1901825
*/
  #crisisTypes{
      margin-left: 80px;
  }
  textarea{
    margin-bottom: 60px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .btn-primary{
      background-color: #a1ef7a;
      border:none;
  }
  .btn-primary:hover{
      opacity: 0.8;
      background-color: #a1ef7a;
  }
  .btn-primary:active{
      background-color:yellow;
      border: none;
  }
  

    /*----------------------End staff page------------*/
    /*---------------------start manage volunteer profile ------------*/
 /*start image file*/
.wrapper{
    height: 200px;
    width: 200px;
    position: relative;
    border:5px solid #fff;
    border-radius: 50%;
    background-image: url(/Images/profilePic.JPG);    
    background-size: 100% 100%;
    margin: auto;
    margin-top: 80px;
    overflow: hidden;
}
.imageFile{
    position: absolute;
    bottom: 0;
    outline: none;
    color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding: 1px 100px;
    cursor: pointer;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
}
.imageFile::-webkit-file-upload-button{ /* to hide choose file input*/
    visibility: hidden;
}
.imageFile::before{
    content: '\f030 ';
    font-family:fontAwesome;
    font-size: 30px;
    color: #fff;
    display: inline-block;
    -webkit-user-select: none;
}
.imageFile::after{
    content: 'update';
    font-family: 'arial';
    font-weight: bold;
    color: #fff;
    display: block;
    top: 75px;
    font-size: 14px;
    position: absolute;
}
.imageFile:hover{
    opacity: 1;
}
/*End image file*/
/*start form*/
.manageVolunteerProfile{
    background-color: #fff;
    padding: 50px;
    margin-top: 50px;
    opacity: 0.9;
    border-radius:30px;
}
.bodymanageProfile{
    background-color: #cbefb8;
}
#pManageProfile{
    margin-right: 30px;
}
.bodymanageProfile button ,.bodymanageProfile input{
    border: none;
}
#docBtn{
    margin-left: 65px;
}
#docBtnPassport , #docBtn{
    margin-top: 10px;
}
#none {
    margin-left: 40px;
}
#attachDoc{
   
    font-size: 13px;
    font-family: cursive;
    background: white;
    border-radius: 50px;
    box-shadow: 3px 3px 6px #a1ef7a;
    width: 400px;
    height:28px;
    outline: none;
    margin-top: 10px ;
    margin-bottom: 30px;
}
#attachDoc::-webkit-file-upload-button{
    color: white;
    background:  #a1ef7a;
    padding: 5px;
    border: none;
    border-radius: 50px;
    outline: none;
}
#manageSubmitBtn{
    width: 100%;
    background-color: #a1ef7a;
    color:#fff;
}
#manageSubmitBtn:hover{
    opacity: 0.7;
}
/*end form*/
    /*---------------------end manage volunteer Profile ------------*/
/*---------------------------------start volunteer home page ------------*/
.carousel-item  .btn {
    position: absolute;
    top: 60%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:#78f040;
    color: white;
    font-size: 25px;
    padding: 20px 35px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-family: cursive;
  }
  
  .carousel-item  .btn:hover {
    background-color: #ffce49;
  }
/*---------------------------------------End volunteer home Page----------*/
/*--------------------------------start apply for trip and app page---------------*/
.volunteerPage{
    background-color: white;
}
.volunteerPage .card{
    top:20%;
}
#tripBtn1:active,#tripBtn1:hover ,#tripBtn2:active,#tripBtn2:hover ,#tripBtn3:active,#tripBtn3:hover ,
#tripBtn4:active,#tripBtn4:hover ,#tripBtn5:active,#tripBtn5:hover ,#tripBtn6:active,#tripBtn6:hover {
background-color:#ffce49;
}
#appBtn1:active , #appBtn1:hover,#appBtn2:active , #appBtn2:hover,#appBtn3:active , #appBtn3:hover,#appBtn4:active 
, #appBtn4:hover,#appBtn5:active , #appBtn5:hover,#appBtn6:active , #appBtn6:hover{
    background-color:#ffce49;
}

/*--------------------------------end apply for trip and app page------------------*/
/*-------------------------------form------------------------------*/
#applyTripForm,#managApplicationForm{
    margin-right:10%;
}
#managApplicationForm{
    margin-top: 8%;
}
/*----------------------------view application------------*/
#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; 
    background-repeat: no-repeat;
    width: 100%; 
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid #78f040; 
    margin-bottom: 12px; 
  }
  
  #myTable {
    border-collapse: collapse; 
    width: 100% ; 
    border: 1px solid #78f040; 
    font-size: 18px; 
  }
  
  #myTable th, #myTable td {
    text-align: left;
    padding: 18px 50px; 
  }
  
  #myTable tr {
    border-bottom: 1px solid #78f040;
  }
  
  #myTable tr.header {
    background-color:#a1ef7a;
  }
  th{
      color: white;
  }
  #myTable tr:hover{
      background-color: #d6f2c9;
  }
  @media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	#myTable, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
}

/*-----------------------------Application status------------------*/
